@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c:500&display=swap');

* {
  margin: 0px;
  padding: 0px;
}

a {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  color: black;
}

.login-form, .signup-form {
  max-width: 370px;
  margin: 0 auto;
}

// for the contacts index layout
// body {
//   padding-top: 70px;
// }

.navbar-brand {
  font-weight: bold;
  letter-spacing: 0.25em;
}

.navbar-right {
  margin-right: 0;
}

.table tbody>tr>td.middle {
  vertical-align: middle;
}

.media {
  padding: 10px 0;
}

.media img {
  border-radius: 50%;
}

.media-left {
  padding: 0 20px;
}

.media-heading {
  color: #dd5638;
  margin-bottom: 10px;
}

.media body{
  padding-top: 15px;
}
