@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c:500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');
* {
  margin: 0px;
  padding: 0px;
}

.navbar-brand {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  color: black;
}

.login-form, .signup-form {
  max-width: 370px;
  margin: 0 auto;
}

// for the contacts index layout
// body {
//   padding-top: 70px;
// }

.navbar-brand {
  font-weight: bold;
  letter-spacing: 0.25em;
}

.navbar-right {
  margin-right: 0;
}

.table tbody>tr>td.middle {
  vertical-align: middle;
}

.media {
  padding: 10px 0;
}

.media img {
  border-radius: 50%;
}

.media-left {
  padding: 0 20px;
}

.media-heading {
  margin-bottom: 10px;
}

.media body{
  padding-top: 15px;
}

div.top-heading {
  margin: 1em 0;
}

.navbar-light .navbar-nav .dropdown-menu {
  position: absolute;
}

.img-circle {
  border-radius: 50%;
  width: 120px;
  height: 120px;
}

.page-link {
  color: black;
}

.page-item.active .page-link {
  background-color: #128496;
  border-color: #128496;
}

ul.pagination {
  margin: 0 auto;
}

.dropdown-menu.show {
  min-width: 10rem;
  background-color: #47BBBC;
}

.dropdown-toggle, .dropdown-item {
  font-family: Georgia, sans-serif;
  font-size: 1.2em;
  color: white;
}

.dropdown-item {
padding-left: 3rem;
}

i {
  color: #47BBBC;
  font-size: 1.2em;
}

i:hover {
  color: #467c7d;
  font-size : 1.4em;
}

a.list-group-item {
  font-family: 'Rubik', sans-serif;
  font-size: 1.1em;
  padding-left: 2em;
  color: black;
}

a.list-group-item:hover {
  text-decoration: none;
  color: black;
  text-decoration-line: overline underline;
  text-decoration-color: #FFC49D;
  font-size: 1.3em;
}

h4 a {
  color: black;
  font-size: 1.3em;
  font-family: 'Rubik', sans-serif;
}

h4 a:hover {
  text-decoration: none;
  color: black;
  text-decoration-line: overline underline;
  text-decoration-color: #FFC49D;
  font-size: 1.5em;
}

h2, h3 {
  font-family: 'Rubik', sans-serif;
  font-size: 2em;
  text-decoration-line: underline;
  text-decoration-color: #FFC49D;
}

h4 {
  font-family: 'Rubik', sans-serif;
  font-size: 1.3em;
}

p {
  font-family: 'Rubik', sans-serif;
  font-size: .8em;
}

label {
  font-family: 'Rubik', sans-serif;
}
